################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.tlog
*.obj
*.pch
*.pdb
*.db
*.opendb
*.ipch
*.idb
*.exe
*.ilk
*.log
